<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-5">
            {{title}}
        </h1>
        <p class="lead">
            Jot down your Ideas
        </p>
        <a href="/ideas/add" class="btn btn-dark btn-lg">Add Idea</a>
    </div>
    <div class="jumbotron text-center">
        <p class="lead">
            Jot down your Ideas
            <br>
            My Jot is a small pad or notebook used for notes or jottings.
        </p>
    </div>
</div>